.MainQuery {
    background: #F1F4F7;
    position: fixed;
    height: 5vh;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: left;
    z-index: 10;
}
    .MainQuery input{
        font-size: 3.5vh;
        width: calc(100% - 100px);
        height: 5vh;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        text-indent: 1vw;
        color: #545657;
    }
    .MainQuery button{
        width: 100px;
        height: 5vh;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #1E70EA;
    }