.ModalCover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0 ,0, 0, .7);
    display: none;
    overflow: auto;
    z-index: 10000;
}
.ModalCover.modal_shown{
    display: block;
}
    .Modal{
        position: relative;
        width: 500px;
        margin: 5vh auto;
        background-color: #fff;
    }